@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #ffffff ;
  --color-secondary: #0496FF;
  --light-blue: #809cf5;
  --text: rgb(20, 7, 7);
  --text-2: #EE964B;
  --transition: all 0.4s ease-in-out;
  --shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  --shadow-hover: 0 3px 15px rgba(0, 0, 0, 0.32);
  --shadow-1: rgba(0, 0, 0, 0.17);
  --shadow-2: rgba(0, 0, 0, 0.15);
  --shadow-3: rgba(0, 0, 0, 0.1);
  --shadow-4: rgba(0, 0, 0, 0.06);
  --shadow-5: rgba(0, 0, 0, 0.09);
  --color3: rgba(220, 220, 220, 0.187);
}

.dark-theme {
  --color-primary: #141a32;
  --color-secondary: #06bd6e;
  --light-blue: #809cf5;
  --text: #d2d2d7;
  --text-2: #5a6583;
  --color3: rgba(220, 220, 220, 0.115);
}

body {
  font-family: "BioRhyme", serif;
  font-size: 14px;
  background: var(--color-primary);
  color: var(--text);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-secondary);
  border-radius: 100vw;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 100vw;
  border: 0.2rem solid var(--text-2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-blue);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 99999;
  background: #1c1b1b;
}

.preloader.disappear {
  -webkit-animation: disappear 0.5s forwards;
          animation: disappear 0.5s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes disappear {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes disappear {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-container .btn {
  border-radius: 20px;
  color: inherit;
  font-weight: 700;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.btn-container .btn .btn-text {
  padding: 0 2rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn-container .btn .btn-icon {
  background: var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  padding: 0.5rem;
  font-size: 2.4rem;
  border-radius: 50%;
  color: #111;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn-container .btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: -1;
  width: 100%;
  height: 100%;
}

.btn-container .btn:hover {
  color: #111;
}

.btn-container .btn:hover::before {
  background: var(--color-secondary);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.title-container {
  text-align: center;
}

.title-container h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 2rem;
}

.title-container h2 span {
  color: var(--color-secondary);
}

.title-container h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color3);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: clamp(2.6rem, 10vw, 4.6rem);
}

.stat-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  padding: 10px;
  position: relative;
}

.stat-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20%;
  height: 3px;
  background: var(--text-2);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header {
  height: 100vh;
  color: var(--text);
  overflow-x: hidden;
}

header img {
  width: 100%;
  height: 100%;
}

header .header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 0.2rem;
  width: 100%;
  height: 100%;
}

header .header-content .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

header .header-content .left-content .h-shape {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  width: 65%;
  height: 100%;
  background: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}

header .header-content .left-content .image {
  border-radius: 15px;
  height: 90%;
  width: 78%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header .header-content .left-content .image img {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-filter: drop-shadow(35px 30px 4px #111);
          filter: drop-shadow(35px 30px 4px #111);
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

header .header-content .left-content .image img:hover {
  -webkit-filter: drop-shadow(20px 15px 1px #111);
          filter: drop-shadow(20px 15px 1px #111);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

header .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 10rem;
}

header .right-content h1 {
  font-size: clamp(1rem, 3vw, 2rem);
}

header .right-content h1 span {
  color: var(--color-secondary);
}

header .right-content h2 {
  font-size: 1.2rem;
}

header .right-content h2 .typing {
  margin-left: 10px;
  position: relative;
  color: var(--color-secondary);
}

header .right-content h2 .typing::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  right: -5px;
  background: white;
  -webkit-animation: blink 0.5s infinite ease;
          animation: blink 0.5s infinite ease;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header .right-content p {
  margin: 1.4rem 0;
  line-height: 2rem;
  font-size: 1rem;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: clamp(1rem, 4vw, 10rem);
}

section img {
  width: 100%;
  height: 100%;
}

.section {
  -webkit-transform: translateY(-100%) scale(0);
          transform: translateY(-100%) scale(0);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background: var(--color-primary);
}

.sec-one,
.sec-two,
.sec-three,
.sec-four {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec-one.active,
.sec-two.active,
.sec-three.active,
.sec-four.active {
  display: block;
  -webkit-animation: scaleAnimation 1s ease-in-out;
          animation: scaleAnimation 1s ease-in-out;
}

@-webkit-keyframes scaleAnimation {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0%) scaleY(1);
            transform: translateY(0%) scaleY(1);
  }
}

@keyframes scaleAnimation {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0%) scaleY(1);
            transform: translateY(0%) scaleY(1);
  }
}

.sec-two .about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.sec-two .about-container .left-content h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.sec-two .about-container .left-content p {
  margin: 1rem 0;
  line-height: 2rem;
  font-size: 1rem;
}

.sec-two .about-container .left-content p span {
  color: var(--color-secondary);
  font-size: 1.4rem;
  text-decoration: underline;
}

.sec-two .about-container .right-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.4rem;
}

.sec-two .about-container .right-content .about-item {
  border: 1px solid var(--text-2);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.sec-two .about-container .right-content .about-item:hover {
  cursor: default;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  border-color: var(--color-secondary);
  -webkit-box-shadow: var(--shadow-hover);
          box-shadow: var(--shadow-hover);
}

.sec-two .about-container .right-content .about-item .abt-text {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec-two .about-container .right-content .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.sec-two .about-container .right-content .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--text);
  letter-spacing: 2px;
}

.sec-two .about-container .right-content .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background: var(--text);
}

.sec-two .about-stats {
  padding-bottom: 2rem;
}

.sec-two .about-stats .progress-bars {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.sec-two .about-stats .progress-bars .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec-two .about-stats .progress-bars .progress-bar .progress-title {
  text-transform: uppercase;
  font-weight: 700;
}

.sec-two .about-stats .progress-bars .progress-bar .progress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sec-two .about-stats .progress-bars .progress-bar .progress-container .progress-text {
  color: var(--color-secondary);
}

.sec-two .about-stats .progress-bars .progress-bar .progress-container .progress {
  width: 100%;
  height: 0.4rem;
  background: var(--text-2);
  margin-left: 10px;
  position: relative;
}

.sec-two .about-stats .progress-bars .progress-bar .progress-container .progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--color-secondary);
}

.sec-two .timeline-container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.sec-two .timeline-container .timeline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  padding: 4rem;
  width: 90%;
  margin: 0 auto;
}

.sec-two .timeline-container .timeline .timeline-item {
  position: relative;
  padding-left: 2rem;
  border-left: 1px solid var(--text-2);
}

.sec-two .timeline-container .timeline .timeline-item .timeline-icon {
  position: absolute;
  left: -4rem;
  top: 50%;
  width: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50px;
  border-radius: 50%;
  background: var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

.sec-two .timeline-container .timeline .timeline-item .timeline-icon .iconify {
  font-size: 1.3rem;
  color: #111;
}

.sec-two .timeline-container .timeline .timeline-item .timeline-duration {
  padding: 0.2rem 0.6rem;
  background: var(--text-2);
  color: #fff;
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
}

.sec-two .timeline-container .timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1rem;
}

.sec-two .timeline-container .timeline .timeline-item h5 span {
  color: var(--text-2);
  font-size: 0.9rem;
}

.sec-two .timeline-container .timeline .timeline-item .btn-container {
  margin-top: 1rem;
}

.portfolio .port-text {
  padding: 2rem 0;
  text-align: center;
  font-size: 1.3rem;
}

.portfolio #filter-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2rem;
}

.portfolio #filter-btns li {
  margin-left: clamp(5px, 2vw, 10px);
  padding: 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.portfolio #filter-btns li.active {
  color: #111;
  background: var(--color-secondary);
}

.portfolio #filter-btns li:first-child {
  margin-left: 0;
}

.portfolio .gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  overflow: hidden;
}

.portfolio .gallery-container .item.active {
  display: block;
  -webkit-animation: active 0.5s ease-in forwards;
          animation: active 0.5s ease-in forwards;
}

@-webkit-keyframes active {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes active {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.portfolio .gallery-container .item.delete {
  display: none;
  -webkit-animation: delete 0.5s ease-in forwards;
          animation: delete 0.5s ease-in forwards;
}

@-webkit-keyframes delete {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes delete {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.portfolio .gallery-container .item .item-container {
  position: relative;
}

.portfolio .gallery-container .item .item-container img {
  border-radius: 15px;
  cursor: pointer;
}

.portfolio .gallery-container .item .item-container .hover-items {
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .gallery-container .item .item-container .hover-items h3 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

.portfolio .gallery-container .item .item-container .hover-items .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portfolio .gallery-container .item .item-container .hover-items .icons a {
  background: var(--color-primary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.portfolio .gallery-container .item .item-container .hover-items .icons a:first-child {
  margin-left: 0;
}

.portfolio .gallery-container .item .item-container .hover-items .icons a .iconify {
  font-size: 1.4rem;
  color: var(--text);
}

.portfolio .gallery-container .item .item-container .hover-items .icons a:hover {
  background: var(--text);
}

.portfolio .gallery-container .item .item-container .hover-items .icons a:hover .iconify {
  color: var(--color-primary);
}

.portfolio .gallery-container .item .item-container:hover .hover-items {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.sec-four .contact-container-light-theme {
  -webkit-animation: active 0.5s ease-in forwards;
          animation: active 0.5s ease-in forwards;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
  font-size: 0.6rem;
  width: 90%;
  margin: 2rem auto;
}

@keyframes active {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.sec-four .contact-container-light-theme .contact-holder {
  width: 100%;
  background: var(--color-secondary);
  padding: 5rem 3rem;
  color: white;
}

.sec-four .contact-container-light-theme .contact-holder h3 {
  font-size: 1.4rem;
}

.sec-four .contact-container-light-theme .contact-holder p {
  font-size: 0.9rem;
  color: #c8f5e6;
  line-height: 2rem;
}

.sec-four .contact-container-light-theme .contact-holder .address,
.sec-four .contact-container-light-theme .contact-holder .phone,
.sec-four .contact-container-light-theme .contact-holder .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.sec-four .contact-container-light-theme .contact-holder .address .holder-icon,
.sec-four .contact-container-light-theme .contact-holder .phone .holder-icon,
.sec-four .contact-container-light-theme .contact-holder .email .holder-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 1px solid rgba(100, 95, 95, 0.408);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.sec-four .contact-container-light-theme .contact-holder .address .holder-icon .iconify,
.sec-four .contact-container-light-theme .contact-holder .phone .holder-icon .iconify,
.sec-four .contact-container-light-theme .contact-holder .email .holder-icon .iconify {
  font-size: 1.3rem;
}

.sec-four .contact-container-light-theme .contact-holder .address .holder-icon:hover,
.sec-four .contact-container-light-theme .contact-holder .phone .holder-icon:hover,
.sec-four .contact-container-light-theme .contact-holder .email .holder-icon:hover {
  background: var(--text-2);
}

.sec-four .contact-container-light-theme .contact-holder .address p,
.sec-four .contact-container-light-theme .contact-holder .phone p,
.sec-four .contact-container-light-theme .contact-holder .email p {
  font-size: 0.9rem;
  color: #c8f5e6;
}

.sec-four .contact-container-light-theme .contact-holder .address p a,
.sec-four .contact-container-light-theme .contact-holder .phone p a,
.sec-four .contact-container-light-theme .contact-holder .email p a {
  text-decoration: underline;
}

.sec-four .contact-container-light-theme .form-container {
  background: #faf5f0;
  padding: 5rem 2rem;
}

.sec-four .contact-container-light-theme .form-container h3 {
  font-size: 1.4rem;
}

.sec-four .contact-container-light-theme .form-container form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0 1rem;
}

.sec-four .contact-container-light-theme .form-container input {
  border: none;
  border-bottom: 1px solid rgba(100, 95, 95, 0.408);
  padding: 20px 35px;
  margin-bottom: 20px;
  width: 100%;
  background: transparent;
}

.sec-four .contact-container-light-theme .form-container input::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container-light-theme .form-container input:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container-light-theme .form-container input::-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container-light-theme .form-container input::placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container-light-theme .form-container .area {
  grid-column: span 2;
}

.sec-four .contact-container-light-theme .form-container textarea {
  border: none;
  width: 100%;
  padding: 30px 35px;
  margin-bottom: 20px;
  height: 160px;
  overflow: hidden;
  resize: none;
  border-bottom: 1px solid rgba(100, 95, 95, 0.408);
  background: transparent;
}

.sec-four .contact-container-light-theme .form-container textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container-light-theme .form-container textarea:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container-light-theme .form-container textarea::-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container-light-theme .form-container textarea::placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container-light-theme .form-container .btn {
  padding: 18px 60px;
  cursor: pointer;
  display: inline-block;
  background: var(--color-secondary);
  outline: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.sec-four .contact-container-light-theme .form-container .btn:hover {
  background: var(--text-2);
}

.sec-four .contact-container {
  -webkit-animation: active 0.5s ease-in forwards;
          animation: active 0.5s ease-in forwards;
  text-align: center;
  display: none;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  font-size: 0.6rem;
  margin: 50px auto 50px;
  width: 80%;
  color: var(--text);
}

@keyframes active {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.sec-four .contact-container .address,
.sec-four .contact-container .phone,
.sec-four .contact-container .email {
  padding: 25px;
  padding-left: 10px;
  border-radius: 6px;
  background: var(--color-primary);
  box-shadow: var(--shadow-1) 0px -23px 25px 0px inset, var(--shadow-2) 0px -36px 30px 0px inset, var(--shadow-3) 0px -79px 40px 0px inset, var(--shadow-4) 0px 2px 1px, var(--shadow-5) 0px 4px 2px, var(--shadow-5) 0px 8px 4px, var(--shadow-5) 0px 16px 8px, var(--shadow-5) 0px 32px 16px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, var(--shadow-2) 0px -36px 30px 0px inset, var(--shadow-3) 0px -79px 40px 0px inset, var(--shadow-4) 0px 2px 1px, var(--shadow-5) 0px 4px 2px, var(--shadow-5) 0px 8px 4px, var(--shadow-5) 0px 16px 8px, var(--shadow-5) 0px 32px 16px !important;
  -webkit-appearance: none;
}

.sec-four .contact-container .address .iconify,
.sec-four .contact-container .phone .iconify,
.sec-four .contact-container .email .iconify {
  font-size: 2rem;
}

.sec-four .contact-container .address span,
.sec-four .contact-container .phone span,
.sec-four .contact-container .email span {
  position: relative;
  font-size: 0.8rem;
  top: -15px;
  left: 15px;
}

.sec-four .contact-container .address p,
.sec-four .contact-container .address a,
.sec-four .contact-container .phone p,
.sec-four .contact-container .phone a,
.sec-four .contact-container .email p,
.sec-four .contact-container .email a {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-left: 40px;
  color: var(--text);
}

.sec-four .contact-container .form {
  margin-top: 20px;
  grid-column: span 3;
}

.sec-four .contact-container .form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0 1rem;
}

.sec-four .contact-container .form form input {
  border: none;
  background: var(--color-primary);
  color: var(--text);
  padding: 20px 35px;
  margin-bottom: 20px;
  border-radius: 6px;
  width: 100%;
  box-shadow: var(--shadow-1) 0px -23px 25px 0px inset, var(--shadow-2) 0px -36px 30px 0px inset, var(--shadow-3) 0px -79px 40px 0px inset, var(--shadow-4) 0px 2px 1px, var(--shadow-5) 0px 4px 2px, var(--shadow-5) 0px 8px 4px, var(--shadow-5) 0px 16px 8px, var(--shadow-5) 0px 32px 16px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, var(--shadow-2) 0px -36px 30px 0px inset, var(--shadow-3) 0px -79px 40px 0px inset, var(--shadow-4) 0px 2px 1px, var(--shadow-5) 0px 4px 2px, var(--shadow-5) 0px 8px 4px, var(--shadow-5) 0px 16px 8px, var(--shadow-5) 0px 32px 16px !important;
  -webkit-appearance: none;
}

.sec-four .contact-container .form form input::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container .form form input:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container .form form input::-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container .form form input::placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container .form form .area {
  grid-column: span 2;
}

.sec-four .contact-container .form form textarea {
  border: none;
  background: var(--color-primary);
  color: var(--text);
  width: 100%;
  padding: 30px 35px;
  margin-bottom: 20px;
  height: 160px;
  overflow: hidden;
  border-radius: 6px;
  resize: none;
  box-shadow: var(--shadow-1) 0px -23px 25px 0px inset, var(--shadow-2) 0px -36px 30px 0px inset, var(--shadow-3) 0px -79px 40px 0px inset, var(--shadow-4) 0px 2px 1px, var(--shadow-5) 0px 4px 2px, var(--shadow-5) 0px 8px 4px, var(--shadow-5) 0px 16px 8px, var(--shadow-5) 0px 32px 16px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, var(--shadow-2) 0px -36px 30px 0px inset, var(--shadow-3) 0px -79px 40px 0px inset, var(--shadow-4) 0px 2px 1px, var(--shadow-5) 0px 4px 2px, var(--shadow-5) 0px 8px 4px, var(--shadow-5) 0px 16px 8px, var(--shadow-5) 0px 32px 16px !important;
  -webkit-appearance: none;
}

.sec-four .contact-container .form form textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container .form form textarea:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container .form form textarea::-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container .form form textarea::placeholder {
  text-transform: uppercase;
  font-family: "BioRhyme", serif;
}

.sec-four .contact-container .form form .btn {
  padding: 18px 60px;
  cursor: pointer;
  display: inline-block;
  background: none;
  outline: none;
  color: var(--text);
  border: none;
  border-radius: 15px;
  box-shadow: var(--shadow-1) 0px -23px 25px 0px inset, var(--shadow-2) 0px -36px 30px 0px inset, var(--shadow-3) 0px -79px 40px 0px inset, var(--shadow-4) 0px 2px 1px, var(--shadow-5) 0px 4px 2px, var(--shadow-5) 0px 8px 4px, var(--shadow-5) 0px 16px 8px, var(--shadow-5) 0px 32px 16px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, var(--shadow-2) 0px -36px 30px 0px inset, var(--shadow-3) 0px -79px 40px 0px inset, var(--shadow-4) 0px 2px 1px, var(--shadow-5) 0px 4px 2px, var(--shadow-5) 0px 8px 4px, var(--shadow-5) 0px 16px 8px, var(--shadow-5) 0px 32px 16px !important;
  -webkit-appearance: none;
}

.sec-four footer {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1rem;
}

.sec-four footer .social-icon {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sec-four footer .social-icon a {
  margin: 10px;
  cursor: pointer;
}

.sec-four footer .social-icon a .iconify {
  font-size: 2rem;
  color: var(--color-secondary);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.sec-four footer .social-icon a .iconify:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: var(--text);
}

.sec-four p {
  font-size: 1.1rem;
}

.sec-four p .name {
  color: var(--color-secondary);
}

body.dark-theme .contact-container {
  display: -ms-grid;
  display: grid;
}

body.dark-theme .contact-container-light-theme {
  display: none;
}

.section-buttons {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-buttons .icon-holder {
  padding: 1rem;
  background: var(--text-2);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0.5rem 0;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.section-buttons .icon-holder img {
  width: 100%;
  height: 100%;
}

.section-buttons .button {
  padding: 1rem;
  cursor: pointer;
  background: var(--text-2);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.5rem 0;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.section-buttons .button .iconify {
  font-size: 15rem;
  pointer-events: none;
  color: #111;
}

.section-buttons .active-btn {
  background: var(--color-secondary);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

@media only screen and (max-width: 768px) {
  header .right-content {
    padding-right: inherit;
    padding: 2rem;
  }
  .sec-four .contact-container {
    width: 100%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .sec-four .contact-container .form {
    grid-column: span 1;
  }
  .sec-four .contact-container-light-theme {
    width: 100%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .sec-four .contact-container-light-theme .form-container {
    grid-column: span 1;
  }
}

@media only screen and (max-width: 480px) {
  .sec-four .contact-form {
    -ms-grid-columns: (minmax(150px, 600px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, 600px));
  }
  .sec-four .contact-form {
    -ms-grid-columns: (minmax(150px, 600px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, 600px));
  }
}
/*# sourceMappingURL=style.css.map */