@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --color-primary: #ffffff ;
  // --color-secondary: #3e65fb;
  --color-secondary: #0496FF;
  --light-blue: #809cf5;
  --text: rgb(20, 7, 7);
  --text-2: #EE964B;;
  --transition: all 0.4s ease-in-out;
  --shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  --shadow-hover: 0 3px 15px rgba(0, 0, 0, 0.32);
  --shadow-1: rgba(0, 0, 0, 0.17);
  --shadow-2: rgba(0, 0, 0, 0.15);
  --shadow-3: rgba(0, 0, 0, 0.1);
  --shadow-4: rgba(0, 0, 0, 0.06);
  --shadow-5: rgba(0, 0, 0, 0.09);
  --color3: rgba(220, 220, 220, 0.187);

}
.dark-theme {
  --color-primary: #141a32;
  // --color-secondary: #3e65fb;
  --color-secondary: #06bd6e;
  --light-blue: #809cf5;
  --text: #d2d2d7;
  --text-2: #5a6583;
  --color3: rgba(220, 220, 220, 0.115);

}
@mixin flex($direction, $items, $content) {
  display: flex;
  justify-content: $content;
  align-items: $items;
  flex-direction: $direction;
}
@mixin grid($value1, $value2, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($value1, $value2));
  gap: $gap;
}
body {
  font-family: "BioRhyme", serif;
  font-size: 14px;
  background: var(--color-primary);
  color: var(--text);
  transition: var(--transition);

  // overflow: hidden;
}
::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--color-secondary);
  border-radius: 100vw;
  margin-block: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 100vw;
  border: 0.2rem solid var(--text-2);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--light-blue);
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  @include flex(row, center, center);
  z-index: 99999;
  background: #1c1b1b;
  &.disappear {
    animation: disappear 0.5s forwards;
    animation-delay: 2s;

    @keyframes disappear {
      100% {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.btn-container {
  display: flex;
  .btn {
    border-radius: 20px;
    color: inherit;
    font-weight: 700;
    position: relative;
    border: 1px solid var(--color-secondary);

    @include flex(row, center, center);
    overflow: hidden;
    .btn-text {
      padding: 0 2rem;
      transition: var(--transition);
    }
    .btn-icon {
      background: var(--color-secondary);
      @include flex(inherit, center, center);
      padding: 0.5rem;
      font-size: 2.4rem;
      border-radius: 50%;
      color: #111;
      transition: var(--transition);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      transition: var(--transition);
      z-index: -1;
      width: 100%;
      height: 100%;
    }
    &:hover {
      color: #111;
      &::before {
        background: var(--color-secondary);
        transform: translateX(0);
      }
    }
  }
}
.title-container {
  text-align: center;

  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 2rem;

    span {
      color: var(--color-secondary);
    }
    .bg-text {
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color3);
      transition: var(--transition);
      z-index: -1;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: clamp(2.6rem, 10vw, 4.6rem);
    }
  }
}
.stat-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  padding: 10px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20%;
    height: 3px;
    background: var(--text-2);
    transform: translateX(-50%);
  }
}

header {
  img {
    width: 100%;
    height: 100%;
  }

  height: 100vh;
  color: var(--text);
  overflow-x: hidden;
  .header-content {
    @include grid(400px, 1fr, 0.2rem);
    width: 100%;
    height: 100%;
    .left-content {
      @include flex(row, center, center);
      position: relative;
      .h-shape {
        transition: var(--transition);
        width: 65%;
        height: 100%;
        background: var(--color-secondary);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
      }
      .image {
        border-radius: 15px;
        height: 90%;
        width: 78%;
        // margin-left: 4rem;
        transition: var(--transition);
        img {
          border-radius: 15px;
          object-fit: cover;
          cursor: pointer;
          transition: var(--transition);
          filter: drop-shadow(35px 30px 4px #111);
          transform: scale(0.8);
          &:hover {
            filter: drop-shadow(20px 15px 1px #111);
            transform: scale(0.9);
          }
        }
      }
    }
  }
  .right-content {
    @include flex(column, center, center);
    padding-right: 10rem;
    // text-align: center;
    h1 {
      font-size: clamp(1rem, 3vw, 2rem);
      span {
        color: var(--color-secondary);
      }
    }
    h2 {
      font-size: 1.2rem;
      .typing {
        margin-left: 10px;
        position: relative;
        color: var(--color-secondary);
        &::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 90%;
          right: -5px;
          background: var(--text);
          animation: blink 0.5s infinite ease;
          @keyframes blink {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
      }
    }
    p {
      margin: 1.4rem 0;
      line-height: 2rem;
      font-size: 1rem;
    }
  }
}
section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: clamp(1rem, 4vw, 10rem);
  img {
    width: 100%;
    height: 100%;
  }
}
.section {
  transform: translateY(-100%) scale(0);
  transition: var(--transition);
  background: var(--color-primary);
}
.sec-one,
.sec-two,
.sec-three,
.sec-four {
  display: none;
  transform: translateY(0) scale(1);
  &.active {
    display: block;
    animation: scaleAnimation 1s ease-in-out;
    @keyframes scaleAnimation {
      0% {
        transform: translateY(-100%) scaleY(0);
      }
      100% {
        transform: translateY(0%) scaleY(1);
      }
    }
  }
}

.sec-two {
  .about-container {
    @include grid(350px, 1fr, 1rem);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    .left-content {
      h4 {
        font-size: 1.3rem;
        text-transform: uppercase;
      }
      p {
        margin: 1rem 0;
        line-height: 2rem;
        font-size: 1rem;

        span {
          color: var(--color-secondary);
          font-size: 1.4rem;
          text-decoration: underline;
        }
      }
    }
    .right-content {
      @include grid(250px, 1fr, 0.4rem);
      .about-item {
        border: 1px solid var(--text-2);
        border-radius: 5px;
        transition: var(--transition);
        box-shadow: var(--shadow);

        &:hover {
          cursor: default;
          transform: translateY(-5px);
          border-color: var(--color-secondary);
          box-shadow: var(--shadow-hover);
        }
        .abt-text {
          padding: 1.5rem;
          @include flex(column, inherit, inherit);
          .large-text {
            font-size: 3rem;
            font-weight: 700;
            color: var(--color-secondary);
          }
          .small-text {
            padding-left: 3rem;
            position: relative;
            text-transform: uppercase;
            font-size: 1.2rem;
            color: var(--text);
            letter-spacing: 2px;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 15px;
              width: 2rem;
              height: 2px;
              background: var(--text);
            }
          }
        }
      }
    }
  }
  .about-skills{
  
    .skills-container{
      @include grid(150px,1fr, 2rem );
      padding: 3rem;
      
      img{
        width: 100px;
        height: 100px;
      }
    }
  }
  .about-stats {
    padding-bottom: 2rem;

    .progress-bars {
      @include grid(250px, 1fr, 2rem);
      .progress-bar {
        @include flex(column, inherit, inherit);
        .progress-title {
          text-transform: uppercase;
          font-weight: 700;
        }
        .progress-container {
          @include flex(row, center, center);
          .progress-text {
            color: var(--color-secondary);
          }
          .progress {
            width: 100%;
            height: 0.4rem;
            background: var(--text-2);
            margin-left: 10px;
            position: relative;
            span {
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              background: var(--color-secondary);
            }
          }
        }
      }
    }
  }
  .timeline-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    .timeline {
      @include grid(250px, 1fr, 3rem);
      padding: 4rem;
      width: 90%;
      margin: 0 auto;
      .timeline-item {
        position: relative;
        padding-left: 2rem;
        border-left: 1px solid var(--text-2);
        .timeline-icon {
          position: absolute;
          left: -4rem;
          top: 50%;
          width: 50px;
          transform: translateY(-50%);
          height: 50px;
          border-radius: 50%;
          background: var(--color-secondary);
          @include flex(inherit, center, center);
          .iconify {
            font-size: 1.3rem;
            color: #111;
          }
        }
        .timeline-duration {
          padding: 0.2rem 0.6rem;
          background: var(--text-2);
          color: #fff;
          border-radius: 15px;
          display: inline-block;
          font-size: 0.8rem;
          text-transform: uppercase;
          font-weight: 700;
        }
        h5 {
          padding: 1rem 0;
          text-transform: uppercase;
          font-size: 1rem;
          span {
            color: var(--text-2);
            font-size: 0.9rem;
          }
        }
        .btn-container {
          margin-top: 1rem;
        }
      }
    }
  }
}
.portfolio {
  .port-text {
    padding: 2rem 0;
    text-align: center;
    font-size: 1.3rem;
  }
  #filter-btns {
    @include flex(row, center, center);
    margin-bottom: 2rem;
    li {
      margin-left: clamp(5px, 2vw, 10px);
      padding: 1rem;

      border-radius: 15px;
      &.active {
        color: #111;
        background: var(--color-secondary);
      }
      cursor: pointer;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .gallery-container {
    @include grid(250px, 1fr, 3rem);
    overflow: hidden;
    .item {

      &.active{
        display: block;
        animation: active 0.5s ease-in forwards;
        @keyframes active {
         0%{
              transform: scale(0);
         }
         100%{
            transform: scale(1);
         }
        }
      }
      &.delete {
        display: none;
        animation: delete 0.5s ease-in forwards;
          
          @keyframes delete {
            0% {
              transform: scale(1);
            }
            100% {
              transform: scale(0);
            }
          }
        }
    .item-container {
      position: relative;
    
      img {
        border-radius: 15px;
        cursor: pointer;
      }
      .hover-items {
        width: 100%;
        height: 100%;
        background: var(--color-secondary);
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 15px;
        opacity: 0;
        transform: scale(0);
        transition: var(--transition);
        @include flex(column, center, center);

        h3 {
          font-size: 1.4rem;
          margin-bottom: 1.4rem;
        }
        .icons {
          @include flex(row, center, center);

          a {
            background: var(--color-primary);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: 10px;
            @include flex(row, center, center);
            cursor: pointer;
            transition: var(--transition);
            &:first-child {
              margin-left: 0;
            }
            .iconify {
              font-size: 1.4rem;
              color: var(--text);
            }
            &:hover {
              background: var(--text);
              .iconify {
                color: var(--color-primary);
              }
            }
          }
        }
      }
      &:hover .hover-items {
        transform: scale(1);
        opacity: 1;
      }
    }
    }
  }
}
.sec-four {
  .contact-container-light-theme{
    animation: active 0.5s ease-in forwards;
    
    @keyframes active {
      0% {
        transform: scale(0);
      }
    
      100% {
        transform: scale(1);
      }
    }
    display: grid;
    grid-template-columns: 400px 1fr;
    font-size: 0.6rem;
    width: 80%;
    margin: 2rem auto;
  
    .contact-holder{
      width: 100%;
      background: var(--color-secondary);
      padding: 5rem 3rem;
      color: white;
      h3{
        font-size: 1.4rem;
      }
      p{
        font-size: 0.9rem;
        color: #c8f5e6;
        
      }
      .address,
      .phone,
      .email {
        display: flex;
        margin-top: 2rem;
        align-items: center;
        gap: 20px;
        .holder-icon{
        
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            border: 1px solid rgba(100, 95, 95, 0.408);
            width: 55px;
            height: 55px;
            border-radius: 50%;
            transition: var(--transition);
            .iconify {
              font-size: 1.3rem;
            }
            &:hover{
              background: var(--text-2);
            }
        }
        p{
          font-size: 0.9rem;
          color: #c8f5e6;
          a{
            text-decoration: underline;
            
          }
          
        }
      }
    }
    .form-container{
      background: #faf5f0;
      padding: 5rem 2rem;
      h3 {
        font-size: 1.4rem;
      }
      form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 1rem;
      }
      input {
        border: none;
        border-bottom: 1px solid rgba(100, 95, 95, 0.408);
        padding: 20px 35px;
        margin-bottom: 20px;
        outline: none;
        -moz-outline: none ;
        -webkit-outline: none;
        width: 100%;
        background: transparent;
        &::placeholder {
          text-transform: uppercase;
          font-family: "BioRhyme", serif;
        }
      }
      
      .area {
        grid-column: span 2;
      }
        textarea {
          border: none;
          width: 100%;
          padding: 30px 35px;
          margin-bottom: 20px;
          height: 160px;
          outline: none;
          overflow: hidden;
          -moz-outline: none;
           -webkit-outline: none;
          resize: none;
          border-bottom: 1px solid rgba(100, 95, 95, 0.408);
          background: transparent;
          &::placeholder {
            text-transform: uppercase;
            font-family: "BioRhyme", serif;
          }
        }
   .btn {
     padding: 18px 60px;
     cursor: pointer;
     display: inline-block;
     background: var(--color-secondary);
     outline: none;
     color: #fff;
     border: none;
     border-radius: 5px;
     font-size: 1.2rem ;
    transition: var(--transition);
    &:hover{
      background: var(--text-2);
    }
   }
    }
  }
  .contact-container {
    animation: active 0.5s ease-in forwards;
    
    @keyframes active {
      0% {
        transform: scale(0);
      }
    
      100% {
        transform: scale(1);
      }
    }
    text-align: center;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    font-size: 0.6rem;
    margin: 50px auto 50px;
    width: 80%;
    color: var(--text);
    .address,
    .phone,
    .email {
      padding: 25px;
      padding-left: 10px;
      border-radius: 6px;
      background: var(--color-primary);
      box-shadow: var(--shadow-1) 0px -23px 25px 0px inset,
        var(--shadow-2) 0px -36px 30px 0px inset,
        var(--shadow-3) 0px -79px 40px 0px inset, var(--shadow-4) 0px 2px 1px,
        var(--shadow-5) 0px 4px 2px, var(--shadow-5) 0px 8px 4px,
        var(--shadow-5) 0px 16px 8px, var(--shadow-5) 0px 32px 16px !important;
      -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        var(--shadow-2) 0px -36px 30px 0px inset,
        var(--shadow-3) 0px -79px 40px 0px inset, var(--shadow-4) 0px 2px 1px,
        var(--shadow-5) 0px 4px 2px, var(--shadow-5) 0px 8px 4px,
        var(--shadow-5) 0px 16px 8px, var(--shadow-5) 0px 32px 16px !important;
      -webkit-appearance: none;
      .iconify {
        font-size: 2rem;
      }
      span {
        position: relative;
        font-size: 0.8rem;
        top: -15px;
        left: 15px;
      }
      p,
      a {
        font-size: 0.8rem;
        margin-bottom: 0;
        margin-left: 40px;
        color: var(--text);
      }
    }
    .form {
      margin-top: 20px;
      grid-column: span 3;
      form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 1rem;

        input {
          border: none;
          background: var(--color-primary);
          color: var(--text);
          padding: 20px 35px;
          margin-bottom: 20px;
          border-radius: 6px;
          width: 100%;
          box-shadow: var(--shadow-1) 0px -23px 25px 0px inset,
            var(--shadow-2) 0px -36px 30px 0px inset,
            var(--shadow-3) 0px -79px 40px 0px inset,
            var(--shadow-4) 0px 2px 1px, var(--shadow-5) 0px 4px 2px,
            var(--shadow-5) 0px 8px 4px, var(--shadow-5) 0px 16px 8px,
            var(--shadow-5) 0px 32px 16px !important;
          -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
            var(--shadow-2) 0px -36px 30px 0px inset,
            var(--shadow-3) 0px -79px 40px 0px inset,
            var(--shadow-4) 0px 2px 1px, var(--shadow-5) 0px 4px 2px,
            var(--shadow-5) 0px 8px 4px, var(--shadow-5) 0px 16px 8px,
            var(--shadow-5) 0px 32px 16px !important;
          -webkit-appearance: none;
          &::placeholder {
            text-transform: uppercase;
            font-family: "BioRhyme", serif;
          }
        }
        .area {
          grid-column: span 2;
        }
        textarea {
          border: none;
          background: var(--color-primary);
          color: var(--text);
          width: 100%;
          padding: 30px 35px;
          margin-bottom: 20px;
          height: 160px;
          overflow: hidden;
          border-radius: 6px;
          resize: none;
          box-shadow: var(--shadow-1) 0px -23px 25px 0px inset,
            var(--shadow-2) 0px -36px 30px 0px inset,
            var(--shadow-3) 0px -79px 40px 0px inset,
            var(--shadow-4) 0px 2px 1px, var(--shadow-5) 0px 4px 2px,
            var(--shadow-5) 0px 8px 4px, var(--shadow-5) 0px 16px 8px,
            var(--shadow-5) 0px 32px 16px !important;
          -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
            var(--shadow-2) 0px -36px 30px 0px inset,
            var(--shadow-3) 0px -79px 40px 0px inset,
            var(--shadow-4) 0px 2px 1px, var(--shadow-5) 0px 4px 2px,
            var(--shadow-5) 0px 8px 4px, var(--shadow-5) 0px 16px 8px,
            var(--shadow-5) 0px 32px 16px !important;
          -webkit-appearance: none;
          &::placeholder {
            text-transform: uppercase;
            font-family: "BioRhyme", serif;
          }
        }
        .btn {
          padding: 18px 60px;
          cursor: pointer;
          display: inline-block;
          background: none;
          outline: none;
          color: var(--text);
          border: none;
          border-radius: 15px;
          box-shadow: var(--shadow-1) 0px -23px 25px 0px inset,
            var(--shadow-2) 0px -36px 30px 0px inset,
            var(--shadow-3) 0px -79px 40px 0px inset,
            var(--shadow-4) 0px 2px 1px, var(--shadow-5) 0px 4px 2px,
            var(--shadow-5) 0px 8px 4px, var(--shadow-5) 0px 16px 8px,
            var(--shadow-5) 0px 32px 16px !important;
          -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
            var(--shadow-2) 0px -36px 30px 0px inset,
            var(--shadow-3) 0px -79px 40px 0px inset,
            var(--shadow-4) 0px 2px 1px, var(--shadow-5) 0px 4px 2px,
            var(--shadow-5) 0px 8px 4px, var(--shadow-5) 0px 16px 8px,
            var(--shadow-5) 0px 32px 16px !important;
          -webkit-appearance: none;
        }
      }
    }
  }
 
  footer {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1rem;
    .social-icon {
      margin-bottom: 10px;
      @include flex(row, center, center);
      a {
        margin: 10px;
        cursor: pointer;
        .iconify {
          font-size: 2rem;
          color: var(--color-secondary);
          transition: var(--transition);
          &:hover {
            transform: rotate(360deg);
            color: var(--text);
          }
        }
      }
    }
  }
  p {
    font-size: 1.1rem;
    .name {
      color: var(--color-secondary);
    }
  }
}
body.dark-theme .contact-container {
  display: grid;
}
body.dark-theme .contact-container-light-theme{
  display: none;
}
.section-buttons {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  .icon-holder {
    padding: 1rem;
    background: var(--text-2);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0.5rem 0;
    box-shadow: var(--shadow);
    img {
      width: 100%;
      height: 100%;
    }
  }
  @include flex(column, center, center);
  .button {
    padding: 1rem;
    cursor: pointer;
    background: var(--text-2);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    @include flex(row, center, center);
    margin: 0.5rem 0;
    box-shadow: var(--shadow);
    .iconify {
      font-size: 15rem;
      pointer-events: none;
      color: #111;
    }
  }
  .active-btn {
    background: var(--color-secondary);
    transition: var(--transition);
  }
}
@media only screen and (max-width: 768px) {
  header {
    .right-content {
      padding-right: inherit;
      padding: 2rem;
    }
  }
 
  .sec-four {
    .contact-container {
      width: 100%;

      grid-template-columns: repeat(1, 1fr);
      .form {
        grid-column: span 1;
      }
    }
  .contact-container-light-theme {
          width: 100%;
          grid-template-columns: repeat(1, 1fr);
          .form-container {
            grid-column: span 1;
          }
        }
  }
  .sec-two {
    .skills-container {
      padding: 0.3rem !important;
      
    }
  }
}

